:root{
  --bg-light: #F5F5F7;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #eee;
  border: none;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px; 
}

body{
  background-color: var(--bg-light);
}